# Generated artifacts of build processes
env/.bash_history
env/.lesshst
env/.cache
env/build
env/automation/compile_commands.json

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Python compiled objects
*.pyc

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Emacs save files
*~
.[#]*
